@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
    transition: background-color 200ms ease, color 200ms ease;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}